<div CLASS="row-fluid">
    <div class="span4"></div>
  <div class="span4">
<h1>Editición de cuenta</h1>
 <%= render 'form' %>
<%= link_to 'Detalles', @cuentum %> |
<%= link_to 'Atrás', cuenta_path %>
</div>
